.header .header__logo a, .toparea .toparea__slides .toparea__pager span { font: 0/0 a; text-shadow: none; color: transparent; }

@font-face { font-family: black; src: url("fonts/helveticaneuecyr-black-webfont.eot"); src: url("fonts/helveticaneuecyr-black-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneuecyr-black-webfont.woff") format("woff"), url("fonts/helveticaneuecyr-black-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: bold; src: url("fonts/helveticaneuecyr-bold-webfont.eot"); src: url("fonts/helveticaneuecyr-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneuecyr-bold-webfont.woff") format("woff"), url("fonts/helveticaneuecyr-bold-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: light; src: url("fonts/helveticaneuecyr-light-webfont.eot"); src: url("fonts/helveticaneuecyr-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneuecyr-light-webfont.woff") format("woff"), url("fonts/helveticaneuecyr-light-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

* { margin: 0; padding: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
button::-moz-focus-inner { padding: 0; border: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

body { font-family: Arial, sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; }

a img, fieldset { border: none; }

.l { width: 100%; display: inline-block; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

body { background: white; }

.header .header__in, .toparea .toparea__in, .news .news__in, .join .join__in, .footer .footer__in { width: 960px; margin: 0 auto; }
@media only screen and (max-width: 960px) { .header .header__in, .toparea .toparea__in, .news .news__in, .join .join__in, .footer .footer__in { width: 96%; } }

.header { overflow: hidden; }
.header:before { content: " "; position: absolute; background: white; top: 0; height: 9px; left: -10px; right: -10px; -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.6); -moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.6); box-shadow: 0 0px 10px rgba(0, 0, 0, 0.6); }
@media only screen and (max-width: 600px) { .header:before { display: none; } }
.header .header__in { padding: 25px 0 12px 0; overflow: hidden; }
@media only screen and (max-width: 600px) { .header .header__in { padding-top: 12px; } }
.header .header__logo a { background: url('../img/icons-s2b5da7c484.png') 0 0 no-repeat; width: 140px; height: 110px; float: left; margin-right: 200px; }
@media only screen and (max-width: 960px) { .header .header__logo a { margin-right: 50px; } }
.header .header__nav { list-style: none; padding-top: 55px; }
@media only screen and (max-width: 960px) { .header .header__nav { padding-top: 30px; } }
@media only screen and (max-width: 600px) { .header .header__nav { overflow: hidden; } }
.header .header__nav li { display: inline-block; margin-right: 91px; font-family: bold, sans-serif; }
@media only screen and (max-width: 960px) { .header .header__nav li { margin-right: 40px; } }
@media only screen and (max-width: 600px) { .header .header__nav li { display: block; margin-bottom: 10px; } }
.header .header__nav li.is-active { color: #ce1a45; }
.header .header__nav li.is-active a { color: #ce1a45; }
.header .header__nav a { color: #2a3667; text-transform: uppercase; text-decoration: none; }
.header .header__nav a.is-active { color: #ce1a45; }

.toparea { background: #008146; }
.toparea.toparea_inside { padding-top: 0; }
.toparea.toparea_inside .toparea__in { padding: 15px 0; }
.toparea.toparea_inside .toparea__donate { padding-top: 0; }
.toparea.toparea_inside .toparea__donate .donate { height: 50px; line-height: 50px; font-size: 30px; }
@media only screen and (max-width: 600px) { .toparea.toparea_inside .toparea__donate .donate { font-size: 30px; height: 40px; line-height: 40px; width: auto; display: block; } }
.toparea .toparea__in { overflow: hidden; padding: 60px 0; }
@media only screen and (max-width: 600px) { .toparea .toparea__in { padding: 20px 0; } }
.toparea .toparea__text { float: left; font-size: 67px; color: white; text-transform: uppercase; width: 440px; width: 42%; overflow: hidden; line-height: 1.1; font-family: light, sans-serif; }
@media only screen and (max-width: 960px) { .toparea .toparea__text { font-size: 50px; } }
@media only screen and (max-width: 600px) { .toparea .toparea__text { font-size: 25px; margin-bottom: 10px; float: none; width: auto; }
  .toparea .toparea__text br { display: none; } }
.toparea .toparea__text strong { display: block; font-weight: normal; font-family: black, sans-serif; }
.toparea .toparea__slides { float: right; width: 500px; width: 50%; }
@media only screen and (max-width: 600px) { .toparea .toparea__slides { width: auto; float: none; } }
.toparea .toparea__slides img { margin-bottom: 23px; display: block; width: 100%; }
.toparea .toparea__slides .toparea__pager { text-align: center; }
.toparea .toparea__slides .toparea__pager span { width: 10px; height: 10px; display: inline-block; background: white; border-radius: 10px; margin-right: 13px; cursor: pointer; }
.toparea .toparea__slides .toparea__pager span.cycle-pager-active { background: #293764; }
.toparea .toparea__donate { text-align: center; clear: both; padding-top: 50px; }
.toparea .toparea__donate .donate { display: inline-block; background: #37559f; color: white; text-decoration: none; height: 70px; line-height: 70px; width: 345px; text-align: center; font-size: 42px; text-transform: uppercase; font-family: bold, sans-serif; }
@media only screen and (max-width: 600px) { .toparea .toparea__donate .donate { font-size: 30px; height: 40px; line-height: 40px; width: auto; display: block; } }

.news .news__in { overflow: hidden; padding: 24px 0 40px 0; }
.news .news__title { font-size: 17px; color: #268747; font-weight: normal; text-transform: uppercase; border-bottom: 5px solid #293764; padding-bottom: 8px; margin-bottom: 25px; font-family: bold, sans-serif; }
.news .news__more { border-top: 1px solid #b1b1b1; padding-top: 10px; padding: 9px 0 0 10px; }
.news .news__more a { display: block; color: #2a3667; text-transform: uppercase; font-size: 15px; text-decoration: none; }
.news .news__more a:after { content: " "; background: url('../img/icons-s2b5da7c484.png') 0 -392px no-repeat; width: 7px; height: 11px; vertical-align: middle; display: inline-block; margin-left: 10px; position: relative; top: -2px; }

.hentry__wrapper { font-size: 0; }

.hentry { display: inline-block; margin-bottom: 25px; width: 48%; margin-right: 2%; font-size: 14px; color: black; }
@media only screen and (max-width: 600px) { .hentry { float: none; width: auto; margin-bottom: 12px; display: block; } }
.news_list .hentry { width: auto; display: block; margin-right: 0; padding-bottom: 36px; margin-bottom: 36px; border-bottom: 1px solid #d7d7d7; }
@media only screen and (max-width: 600px) { .news_list .hentry { padding: 10px 0; margin-bottom: 0; } }
.news_list .hentry:last-child { border-bottom: none; padding-bottom: 0; }
.news_list .hentry .hentry__pic { width: 460px; }
@media only screen and (max-width: 600px) { .news_list .hentry .hentry__pic { float: none; width: auto; margin-bottom: 10px; width: 100%; display: block; }
  .news_list .hentry .hentry__pic img { width: 100%; display: block; } }
.hentry .hentry__published { font-size: 13px; color: #58595b; }
.hentry .hentry__title, .hentry h3 { font-size: 20px; color: #3957a0; margin-bottom: 13px; }
.hentry .hentry__title a, .hentry h3 a { color: #3957a0; text-decoration: none; font-weight: bold; }
.hentry .hentry__pic { float: left; margin-right: 20px; }
@media only screen and (max-width: 960px) { .hentry .hentry__pic { float: none; margin-bottom: 10px; } }
.hentry .hentry__content { overflow: hidden; }
.hentry .hentry__text { overflow: hidden; font-size: 14px; line-height: 1.3; }
.hentry .hentry__text p { margin-bottom: 1em; }
.hentry .hentry__more { color: #3957a0; font-size: 12px; }
.hentry .hentry__more a { color: #3957a0; text-decoration: none; font-weight: bold; }
.hentry .hentry__more a:after { content: " "; background: url('../img/icons-s2b5da7c484.png') 0 -413px no-repeat; width: 6px; height: 9px; display: inline-block; margin-left: 5px; position: relative; top: 1px; }

.pagi { border-top: 1px solid #cbcbcb; padding-top: 6px; font-weight: bold; }
.pagi a { color: #2a3667; text-decoration: none; vertical-align: middle; margin-right: 3px; }
.pagi a.is-active, .pagi a:hover { color: #ce1a45; }
.pagi .pagi__next { border: 1px solid #c6c6c6; display: inline-block; padding: 2px 5px; vertical-align: middle; color: #ce1a45; }
.pagi .pagi__next i { display: inline-block; vertical-align: middle; background: url('../img/icons-s2b5da7c484.png') 0 -413px no-repeat; width: 6px; height: 9px; }

.join { background: #3957a0; }
.join .join__in { overflow: hidden; padding: 40px 0; }
.join .join__text { width: 44%; float: left; font-size: 20px; color: white; }
@media only screen and (max-width: 600px) { .join .join__text { float: none; width: auto; margin-bottom: 20px; } }
.join .join__form { float: right; width: 36%; }
@media only screen and (max-width: 600px) { .join .join__form { float: none; width: auto; } }
.join .join__title { font-size: 67px; text-align: center; font-weight: normal; color: white; text-transform: uppercase; margin-bottom: 20px; font-family: bold, sans-serif; }
@media only screen and (max-width: 600px) { .join .join__title { font-size: 35px; } }

.row { margin-bottom: 18px; }
.row label { display: block; padding-bottom: 4px; color: white; font-size: 16px; }
.row input[type=text] { background: white; width: 100%; padding: 5px; font-size: 20px; border: 2px solid black; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 600px) { .row input[type=text] { width: 90%; } }
.row.row_inline label { display: inline-block; margin-right: 15px; }
.row.row_inline input { vertical-align: middle; margin-left: 3px; }

.row_submit { text-align: right; }
@media only screen and (max-width: 600px) { .row_submit { text-align: left; } }
.row_submit a { display: inline-block; font-size: 40px; color: white; text-decoration: none; background: #268747; padding: 0 76px; height: 61px; line-height: 61px; font-family: bold, sans-serif; }
@media only screen and (max-width: 600px) { .row_submit a { height: 35px; line-height: 35px; font-size: 24px; } }

.select { position: relative; }
.select:before { position: absolute; right: 5px; top: 10px; background: url('../img/icons-s2b5da7c484.png') 0 -366px no-repeat; width: 25px; height: 16px; content: " "; }
.select select { opacity: 0; -webkit-appearance: none; position: absolute; left: 0; width: 100%; height: 100%; z-index: 1; }

.footer { background: #cfcfcf; }
.footer .footer__in { overflow: hidden; padding: 30px 0 40px 0; }
.footer .footer__list { float: left; width: 210px; list-style: none; font-size: 11px; }
@media only screen and (max-width: 600px) { .footer .footer__list { width: 45%; margin-bottom: 15px; } }
.footer .footer__list a { color: #999999; text-decoration: none; }
.footer .footer__subscribe { float: left; width: 180px; font-size: 11px; color: #999999; }
@media only screen and (max-width: 600px) { .footer .footer__subscribe { float: none; width: auto; clear: both; margin-bottom: 15px; } }
.footer .footer__subscribe label { display: block; padding-bottom: 3px; }
.footer .footer__subscribe input { width: 122px; padding: 3px; font-size: 11px; }
.footer .footer__copy { font-size: 11px; color: #2a3667; }
@media only screen and (max-width: 600px) { .footer .footer__copy { float: none; width: auto; margin-bottom: 15px; } }

.singlepost { border-bottom: 5px solid #293764; font-size: 14px; line-height: 1.5; color: black; padding-bottom: 35px; }
.singlepost h1 { font-weight: bold; font-size: 33px; color: #2a3667; line-height: 1.2; margin-bottom: 8px; }
@media only screen and (max-width: 600px) { .singlepost h1 { font-size: 20px; } }
.singlepost .published { font-size: 13px; color: #58595b; margin-bottom: 1em; }
.singlepost p { margin-bottom: 1em; }
.singlepost img { float: left; margin: 0 20px 20px 0; position: relative; top: 4px; }
@media only screen and (max-width: 600px) { .singlepost img { float: none; display: block; width: 100%; } }

.socials { border-bottom: 2px solid #293764; padding: 16px 0; text-align: center; }

.comments { width: 60%; margin: 0 auto; width: 96%; }

.button { padding: 9px 14px; font-size: 12px; line-height: normal; border-radius: 5px; display: inline-block; }

.button_large { font-size: 30px; }

.greenbutton { padding: 9px 14px; font-size: 12px; line-height: normal; border-radius: 5px; background: green; color: white; text-shadow: 0 -1px 0 black; display: inline-block; }
.greenbutton i { width: 10px; height: 10px; background: pink; display: inline-block; margin-right: 10px; }

.greenbutton_large { font-size: 30px; }
